@import "mixins";

:host {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.total,
.actions,
.search {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  flex-direction: column;
}
.btn {
  @include btn;
}
