@import "mixins";

:host {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.total,
.actions,
.search {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  flex-direction: column;
}
.btn {
  @include shadowPadding;
  background-color: #fff;
  border: 1px solid transparent;
  color: inherit;
  font-size: 1.1em;
  outline: 0;
  margin: 0.5em 0;
  cursor: pointer;
  &:hover {
    background-color: #299245;
    color: #fff;
  }
}
