@import "mixins";

.search-container {
  width: 250px;
  display: flex;

  input {
    @include shadowPadding;
    background-color: #fff;
    border: 1px solid transparent;
    color: inherit;
    font-size: 1.1em;
    outline: 0;
    width: 100%;
    margin: 0.5em 0;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid #ccc;
    }
  }
}
